body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section {
    background-image: url('Image/Raj div/bg1.jpg');
    height: 100vh;
    display: flex;
    justify-content: right;
    background-size: cover;
    overflow: hidden;
}

.def {
    padding-right: 200px;
    padding-top: 90px;
    font-size: 50px;
}
/*.he{
    justify-content:left;
    padding-top:110px;
    font-size:20px;
}

/*.Box{
    position:relative;
    max-width:600px;
    padding:50px;
    background: rgba(255,255,255,.2);
    box-shadow:0 5px 15px rgba(0,0,0,.5);
    text-transform:uppercase;
    
}
.Box h2{
    margin: 0 0 20px;
    padding: 0;
    font:100px;
}*/
.box {
    width: 260px;
    padding-right: 375px;
    padding-top: 175px;
}

    .box h2 {
        color: black;
        font-size: 30px;
        font-weight: 700;
        align-content: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .box ul {
        position: relative;
    }

        .box ul li {
            list-style: none;
            padding: 10px;
            width: 100%;
            box-shadow: 0 5px 25px rgba(0,0,0,.1);
            transition: transform 0.05s;
            color: black;
            font-size: 20px;
        }

        .box ul:hover li {
            opacity: 1;
        }

        .box ul li:hover {
            transform: scale(1.1);
            z-index: 100;
            background: #25bcff;
            box-shadow: 0 5px 25px rgba(0,0,0,.2);
            color: #fff;
            opacity: 1;
            cursor: pointer;
        }


* {
    box-sizing: border-box;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 180px;
    height: 20px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    #myUL li a {
        /*border: 1px solid #ddd;*/
        margin-top: -1px; /* Prevent double borders */
        background-color: rgb(204,225,254);
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block
    }

        #myUL li a:hover:not(.header) {
            background-color: #25bcff;
        }

.abc {
    padding-top: 170px;
    padding-right: 10px;
    padding-bottom: 50px;
}
